
body {
    background-color: #CCFFFF;
}

div {
    width: 760px;
    margin: auto;
    border: 2px double blue;
    background-color: #FFF;
    padding: 10px;
}

h1 {
    text-align: center;
    color: #330066;
    font-style: italic;
}

.redheading {
    text-align: center;
    color: #FF0000;
    font-size: 1.5rem;
    font-style: italic;
}

.firstp {
    text-align: center;
    font-size: 1.25rem;
}

.highlight {
    background-color: yellow;
    font-weight: bold;  
}

.letterspacing {
    text-align: center;
    letter-spacing: 5px;
}

img {
    width: 150px;
    height: 140px;
    float: left;
    margin-right: 20px;
}

table {
    width: 300px;
    border-top: 2px solid gray;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid gray;
}

th, td {
    border-top: 1px solid black;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid black;
}

th {
    color: #CC0000;
}

tr:nth-child(even) {
    background-color: #999999;
}

.bigletter::first-letter {
 font-size: 3.125rem;
 font-weight: bold;
 font-style: italic;
 color: #FF0000;
}

 .sectionheading{
    text-align: center;
    color: magenta;
    font-size: 1.5rem;
    font-style: oblique;
}


