/**********CSS for Mobile Devices**********/
* {
    box-sizing: border-box;
    }

body {
    color: darkgray;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    }
         
/***************Setting up the Grid*****************/
        
#wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "header"
        "main-nav"
        "main-content";
    width: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 0;
    background-color: #90C7E3;
    }
    
.header {
    grid-area: header;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    color: white;
    background-color: #000033;
    text-align: center;
    }
    
.main-nav {
    grid-area: main-nav;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: skyblue;
    font-weight: bolder;
    font-size: 1.2em;
    }

.main-content {
    grid-area: main-content;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    background-color: white;
    padding: 10px;
    }
 
/***************Main Navigation for mobile*****************/ 

.main-nav > ul {
    display:block;
    list-style-type: none;
    text-align: center;
    font-size: 1.2em;
    font-weight: bolder;
    padding-left: 0;
    margin: 0;
    width: auto;   
    }

a {
    text-decoration: none;
    }
    
a:link {
    color: #000033;
    }
    
a:visited {
    color: #344873;
    }
    
a:hover {
    color: white;
    }
      
/***************Imagine in main-content*****************/

#main-img {
    display: none;
    }

/***************Unodered List in main-content*****************/

ul {
    list-style-position: inside;
    }

/***************Heading Styles*****************/

h2 {
    color: #3399CC;
    text-shadow: 2px 2px 5px black;
    font-size: 200%;
    text-align: center;
    }

h3 {
    font-family: Georgia, "Times New Roman", serif;
    color: darkblue;
    }
     
h1, h2 {
    font-family: Georgia, "Times New Roman", serif;
    }

/***************First 3 words of paragraph in main-content*****************/
    .resort {
    color: darkblue;
    font-weight: bolder;
    font-size: 1.2em;
    }

/***************Address in main-content*****************/

#address {
    font-size: 90%;    
    }
#contact {
    clear: both;
    }
    
/***************Footer in main-content*****************/
#footer {
    font-size: 75%;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, sefif;
    }

/***************Form Page*****************/
.space {
    margin: 4px;
}

.submit {
    width: 120px;
    height: 25px;
    background-color: deepskyblue;
}

.reset {
    width: 120px;
    height: 25px;
    background-color: tomato;
}

/***************Bird Animation*****************/
 @keyframes bird {
    from {
        left: 0;
    }
    
    to {
        left: calc(100% - 65px);
    }
}

    #bird {
        animation: bird 5s 1 forwards;
        position: relative;
}

div {
    overflow: auto;
}
/***************************STYLES FOR DESKTOPS*************************************/

@media screen and (min-width: 481px) {
    body {
        background: white url(../cnit132/background.jpg);
     }
/***************Setting up the grid for DESKTOPS*****************/      
#wrapper {
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-rows: auto auto;
        width: 98%;
        max-width: 960px;
        box-shadow: 7px 7px 10px grey;
        margin: 0 auto;
        margin-top: 25px;
        background-color: #90C7E3;
        grid-template-areas: 
            "header header"
            "main-nav main-content";
        }
        
.header {
        grid-area: header;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        background: #000033 url(../cnit132/sunset.jpg) no-repeat right;
        color: white;
        text-align: left;
        padding-left: 5px;
        height: auto; 
        }
        
.main-nav {
        grid-area: main-nav;
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        background-color: skyblue;
        }
        
.main-content {
        grid-area: main-content;
        grid-column: 2 / 3;
        grid-row:  2 / 3;
        background-color: white;
        }
    
/***************main-nav for DESKTOPS*****************/
.main-nav ul {
        text-align: left;
        padding: 2px;
        }
    
/***************Heading 2 for DESKTOPS*****************/
h2 {
        text-align: left;
        }
        
/***************Main image for DESKTOPS*****************/
#main-img {
        display: block;
        float: left;
        margin-right: 7px;
        max-width: 100%;
        height: auto;
    }
}

/***************Styles for PRINTERS*****************/
@media print {
    
    .header {
        background-color: none;
        color: black;
    }
    
    h1 {
        font-weight: normal;
    }
    
    .main-nav {
        display: none;
    }
    
    h2 {
        text-shadow: none;
        color: black;
        font-weight: normal;
    }
    
    h3 {
        color: black;
        font-weight: normal;
    }
    .resort {
        color: black;
        font-weight: normal;
    }
    
    img {
        display: none;
    }
}
