* {
  background-color: yellow;
  a:link {
   color: red; 
  }
  a:visted {
   color: blue; 
  }
}

h1 {
 color: red;
 text-align: center;
}
p::first-letter {
  font-size: 2.9375em;
  font-weight: bold;
  font-style: italic;
  
}

h2 {
  text-align: right;
  color: blue;
  font-style: italic;
}

/* <h2 class="header2" align="right"><font color="blue" size="30px"><i>End of this exercise</i></font></h2> */

h2.header2 {
  text-align: right;
  color: blue;
  font-size: 3em;
  
}

/* <h3 align="right"><font color="red">The table showing below</font></h3> */

h3 {
  text-align: right;
  color: red;
}

/* <table bgcolor="cyan" cellpadding="10px" cellspacing="5px"> */

tr td {
/*   background-color: cyan; */
/*   padding: 10px; */
/*   margin: 5px; */
  text-align: center;
  font-weight: bold;
/*   animation-name: table;
  animation-duration: 5s; */
/*   border: 5px solid cyan; */
/*   border-spacing: 0px; */
}
table {
   animation-name: table;
  animation-duration: 5s;
  animation-iteration-count: 1;
}
@keyframes table {
  from {background-color: cyan;}
  to {background-color: green;}
  from {color: black;}
  to {color: white:}
}
