/* * {
color: red;
} 

<body bgcolor="yellow" link="red" vlink="blue">
<h1><font color="red"><center>This is the first heading</center></font></h1>

<p><font size="40"><b><i>T</i></b></font>his is my first paragraph and all the paragraphs in this page will start with a bigger font</p>
*/
* {
  background-color: yellow;
  a:link {
   color: red; 
  }
  a:visted {
   color: blue; 
  }
}

h1 {
 color: red;
 text-align: center;
}
p:first-letter {
  float: left;
  font-size: 2.5em;
  font-weight: bold;
  font-style: italic;  
}

/* <h2 align="right"><font color="blue"><i>Using CSS</i></font></h2> */

h2 {
  text-align: right;
  color: blue;
  font-style: italic;
}

/* <h2 class="header2" align="right"><font color="blue" size="30px"><i>End of this exercise</i></font></h2> */

.header2 {
  text-align: right;
  color: blue;
  text-size: 4.875em;
  
}
