* {
	box-sizing: border-box;
}
body {
 background-color: #F7F7F7;
 margin: 0 auto;
 font-family: 'Lato', sans-serif;
 text-align: center;
 font-size: .9em;
 word-spacing: 1px;
 letter-spacing: .3px;
 line-height: 26px;
 -webkit-font-smoothing: antialiased;
}

/*MOBILE GRID*/

#wrapper {
 display: grid;
 grid-template-columns: auto;
 grid-auto-rows: auto auto auto auto;
 max-width: 960px;
 margin: 0 auto;
 margin-left: 5px;
 margin-right: 5px;
 grid-template-areas: 
	 "nav"
	 "header"
	 "main"
	 "footer";
}

nav {
 grid-area: nav;
 width: 100%;
}

header {
 grid-area: header;
 margin: 0;
}

main {
 grid-area: main;
 text-align: left;
}

footer {
 grid-area: footer;
}

/*MAIN NAVIGATION*/

nav ul {
 list-style: none;
 margin: 2px;
 padding: 0;
 overflow: hidden;
 background-color: #333;
}

nav li a {
 display: block;
 color: white;
 text-align: center;
 padding: 8px 15px;
 text-decoration: none;
}

nav li > a:hover {
 background-color: #111;
 color: lightgreen;
}

/*HOMEWORK ASSIGNMENTS ORDERED LIST*/

main li a {
 text-decoration: none;
}
main ol li a:link {
 color: grey;
}

main ol li a:visited {
 color: green;
}

main ol li a:hover {
 color: darkblue;
}

main ol li a:active {
 background-color: pink;
}

/*SOCIAL MEDIA FOOTER ICONS*/

footer ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .5;
  transition: all .25s;
}

a.github {
  background-image: url(github.png);
  border-radius: 50%;
}

a.linkedin {
  background-image: url(linkedin.png);
  border-radius: 50%;
}

a.social:hover {
  opacity: 1;
}

/*BACK TO TOP BUTTON*/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: tomato;
  color: white;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}


/*CSS FOR DESKTOPS*/

@media screen and (min-width: 481px) {
		
#wrapper {
 display: grid;
 grid-template-columns: auto auto auto auto;
 grid-auto-rows: auto auto auto auto;
 max-width: 960px;
 margin: 0 auto;
 /*grid-gap: 10px;*/
 grid-template-areas: 
	 "nav nav nav nav nav"
	 "header header header header"
	 " main main main main"
	 "footer footer footer footer";
}

/*MAIN NAVIGATION FOR DESKTOPS*/

nav li {
 float: left;
 border-right: 1px solid #bbb;
}

nav ul li.right {
 float: right;
 margin-bottom: 0;
 padding-bottom: 0;
}

nav li:last-child {
 float: none;
 display: block;
}
	
.vladinfo{
 border-left: 1px solid #bbb;
 padding-left: 5px;
 }
}




/*	#content > * {
 background:#F7F7F7;
 padding: 30px;
}*/


/*SKILLS LIST*/

ul.skills {
 padding: 0;
 text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: tomato;
  color: white;
  padding: 5px 5px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: teal;
}


@keyframes comingsoon {
  from {
      background-color: purple;
      left: 0;
    }
  to {
      background-color: orangered;
      left: calc(100% - 420px);
    }
}

#comingsoon {
    width: 400px;
    height: auto;
    animation: comingsoon 10s infinite alternate;
    position: relative;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    font-family: cursive;
    border-radius: 4%;
    margin-top: 50px;
}
